* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 1rem;
}

.main__screen-link {
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 20px;
  transition: background-color var(--animation-duration) var(--timing-function);
  font-size: 16px;
  font-weight: bold;
}

.main__screen-link:hover,
.main__screen-link:focus {
  background-color: #0056b3;
}
